body{
	background-color: #EAF0F1;
}
#logo{
	background-image: url('../img/logo-almamedica-header.png');
	width: 185px;
	height: 75px;
}
#dragandrophandler
{
border:2px dotted #0B85A1;
width:200px;
color:#92AAB0;
text-align:left;vertical-align:middle;
padding:10px 10px 10 10px;
margin-bottom:10px;
font-size:200%;
}

.upload-area{
    width: 20%;
    height: 150px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    overflow: auto;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h1{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 100px;
    height: 110px;
    padding: 2px;
    margin: 0 auto;
}

.size{
    font-size:12px;
}